/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../../common/variables" as *;
@use "../../common/mixins" as *;


.Header {

	&__navigation {

		flex-direction: column;
		position: absolute;
		width: 20em;
		height: 100vh;
		padding-bottom: 10em;
		top: $header-height;
		left: 0;
		z-index: 9999999;
		background-color: $white;
		overflow: auto;
		transform: translateX(-100%);

		&--mobile {
			animation: slideFromLeftToRight 0.5s ease forwards;
			display: flex;

			ul.nav {
				display: grid;
				grid-template-columns: 1fr;
				border-bottom: 1px solid $primary-light;

				li {
					padding: 0.6em 0;

					a {

						&::after {
							transform: rotate(-90deg) translate(2px, 0);
							transition: transform 0.3s ease;
						}

						&::before {
							content: none;
						}
					}


					&.active {

						a::after {
							transform: rotate(0deg);
							transition: transform 0.3s ease;
						}
					}
				}

			}

			.Button {
				width: fit-content;
				padding: 1em 2.1em;

				&.Button--secondary {
					margin-top: 2.1em;
				}
			}

			.Button--login {
				display: flex;
				color: $black;
				border: 1px solid $black;
				margin-top: 1em;
				margin-left: 1.5em !important;
				height: 3.15em;

				span {
					font-size: 0.875rem;
				}
			}

		}

		ul.nav {
			width: 100%;
			font-weight: 600;
			padding: 1.5em 2em;

			li {
				position: relative;

				a {
					color: $black-real;
					text-decoration: none;
				}
			}

			> li.menu-item-has-children {

				> a::after {
					content: "\e821";
					font-family: fontello, sans-serif;
					font-size: 12px;
					font-weight: 900;
					display: inline-block;
					margin-left: 10px;
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {
			width: 40%;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			position: relative;
			top: 0;
			display: flex;
			align-items: center;
			width: auto;
			margin-left: auto;
			transform: unset;
			animation: unset;
			flex-direction: row;
			height: auto;
			padding-bottom: 0;
			overflow: visible;

			ul.nav {
				display: flex;
				align-items: center;
				height: auto;
				margin-left: auto;
				padding: 0;

				> li {

					&.menu-item:not([class^="label"]):not([class^="icn"]) {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						padding: 32px 1em;
					}

					> a {
						position: relative;
						display: block;

						&::before {
							content: "";
							position: absolute;
							left: 0;
							bottom: -0.25em;
							width: 100%;
							height: 3px;
							background-color: $secondary;
							transform: scaleX(0);
							transform-origin: center;
							transition: all 0.2s;
						}
					}
				}
			}
		}

		.Button {
			margin-left: 1.5em;
			height: 3.15em;
			z-index: 2;
		}
	}
}
