/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Block__image {
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;

	&.elementor-section .elementor-container {
		display: flex;
		flex-direction: column;
		row-gap: 2em;
	}

	.elementor {

		&-widget-heading {
			margin: 1.25em 0;
		}

		&-heading-title {
			line-height: 1.15;

			.icon {

				@include square(2.5rem);
				margin-right: 0.45em;
				fill: $primary;
			}
		}
	}

	&--with-play-button {
		position: relative;

		.elementor {

			&-column {

				&:first-of-type {

					.play__button {

						img {
							position: absolute;
							width: 35%;
							z-index: 2;
							bottom: 0;
							left: 0;
						}
					}

				}
			}

		}

		.elementor-element-populated {
			padding-bottom: 0;
		}

	}

	@media (max-width: ($breakpoint-tablet - 1px )) {

		.elementor-container {
			display: flex;
			flex-direction: column;
		}


		.elementor-column {
			text-align: center;

			&:has(picture, img):not(:has(.elementor-heading-title)) {
				order: -1;
			}
		}

		&--right {

			.elementor-column {

				&:first-of-type {
					order: 2;
				}

				&:last-of-type {
					order: 1;
				}
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {


		&.elementor-section .elementor-container {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		&--with-play-button {

			.elementor {

				&-column {

					&:first-of-type {

						.play__button {

							img {
								width: 45%;
							}
						}

						.elementor-widget-image {

							&:first-of-type {
								padding-bottom: 3.5em;
							}
						}
					}
				}
			}
		}

		.elementor {

			&-column {
				width: 50%;
				max-width: 31.25em;

				&:has(picture, img):not(:has(.elementor-heading-title)) {
					width: 58%;
					max-width: 36.25em;
				}
			}
		}
	}

}
