/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../elements/Box";
@forward "../elements/BoxCenter";
@forward "../elements/BoxPrimary";

.Boxes {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;

	&__group {
		margin-top: 3em;

		.elementor-col-33 {
			width: 100%;
			padding-bottom: 0;

			+ .elementor-column {
				margin-top: 1.5em;
			}

			.elementor-widget-image {
				margin-bottom: 2em;
			}

			.elementor-widget-heading {
				margin-bottom: 1.5em;
			}

			.elementor-widget-text-editor p {
				font-size: 0.875rem;
			}
		}


		@media (min-width: $breakpoint-tablet) {

			.elementor-container {
				display: grid;
				grid-template-columns: repeat(2, 2fr);
				grid-column-gap: 1.5em;
			}

			.elementor-col-33 {
				margin-top: 0;

				+ .elementor-column {
					margin-top: 0;
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			.elementor-container {
				display: grid;
				grid-template-columns: repeat(3, 3fr);
				grid-column-gap: 2em;
			}
		}
	}

	&--primary {

		&.elementor-inner-section .elementor-row {
			align-items: stretch;
		}

		.elementor-column {

			@extend .Box--primary;

			@media (min-width: $breakpoint-desktop) {
				margin: 0;

				+ .elementor-column {
					margin-left: 1.5em;
				}
			}
		}
	}

	&--dotted {

		> .elementor-container {
			max-width: $wrapper-width !important;
		}

		.elementor-column:not(.pillar) {

			box-shadow: none;
			overflow: visible;

			&:hover {
				background-color: $white !important;
				color: $black !important;
				box-shadow: 0 20px 90px 10px rgba(55, 55, 55, 0.08);
				z-index: 1;

				.elementor-widget-heading {

					&::before {
						box-shadow: 0 0 0.5em 0.15em rgba($primary, 0.6);
					}

					&::after {
						opacity: 0;
					}
				}
			}

			.elementor-widget {

				&-image:first-of-type,
				&-html:first-of-type {
					width: auto !important;
					height: 3.25em !important;
					background-color: transparent;
					border-radius: none !important;
					padding: 0;
					margin-bottom: 2.5em;
				}
			}

			.elementor-widget-heading {
				margin-bottom: 1em;
				position: relative;

				@media (min-width: $breakpoint-tablet-landscape) {

					&::before,
					&::after {
						display: block;
						content: "";
						transition: all 0.2s;
					}

					&::before {

						@include circle(0.875em);
						position: relative;
						margin: 0 auto 1em;
						background-color: $primary;
						box-shadow: 0 0 0.5em 0 rgba($primary, 0.8);
						z-index: 1;
					}

					&::after {
						position: absolute;
						height: 1px;
						width: calc(100% + 12em);
						top: calc(0.4375em - 1px);
						left: 50%;
						transform: translateX(-50%);
						background: $light-gray;
					}
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&:first-of-type .elementor-widget-heading {

					&::after {
						background: linear-gradient(to left, $light-gray 75%, rgba($light-gray, 0));
					}
				}

				&:last-of-type .elementor-widget-heading {

					&::after {
						background: linear-gradient(to right, $light-gray 75%, rgba($light-gray, 0));
					}
				}
			}

		}

		@media (min-width: $breakpoint-tablet) {

			&.Boxes {
				margin-top: 0;
			}
		}
	}
}
