/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Category__header {
	padding: 0;

	.wrapper__wide {
		display: flex;
		flex-flow: nowrap column;
		justify-content: center;
		align-items: center;
		height: 20.3em;
		padding: 1.5em;
		margin-bottom: 3em;
		background: $primary-light url(../../images/block_illustration_bg.png) center center no-repeat;
		background-size: cover;

		@media (min-width: $breakpoint-tablet) {
			padding: 3em 7.5em;
		}
	}

	&--center {
		text-align: center;
		max-width: 30em;
	}

	&__title {
		font-size: 2.25rem;
		margin-bottom: 0;
	}

	&__subtitle {
		color: $black;
		font-size: 0.875rem;
		margin-bottom: 2rem;
	}

	&--searchBar {
		padding: 1.5em;
		width: 100%;
		background-color: $white;
		border-radius: $border-radius-16;
		box-shadow: 0 8px 10px rgba(147, 147, 147, 0.1);

		.inputField {
			margin-bottom: 0;
		}
	}

	.FilterMenu {
		align-self: stretch;

		&__title {
			height: 100%;
		}
	}
}
