/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Form {
	display: block;
	background-color: $white;
	border-radius: $border-radius-16;
	padding: 1.5em;
	filter: $box-shadow-big;

	iframe {
		min-height: 450px !important;
	}

	&__title {
		font-size: 2rem;
		text-align: center;

		margin-bottom: 1em;

		.elementor-heading-title {
			font-size: inherit;
		}
	}

	p {
		font-size: 0.875rem;
		margin: 1.5em 0;
	}

	&.ResetPasswordForm {

		.inputField {
			margin: 2em 0;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		padding: 2.5em 3.125em;

		&__narrow {
			padding: 2em 3em 4.5em;
			min-width: 0 !important;
			max-width: 30em;
		}

		&.centered {
			margin: 2em auto;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		min-width: 42em;

		&__narrow {
			padding: 4em 5em;
		}

		hr {
			margin: 2.5em -5em;
		}
	}
}
