/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.hero__banner {

	&__title {

		h1.elementor-heading-title {
			line-height: 1.15;
		}
	}

	&__image.elementor-column[class]:last-of-type {
		padding-left: 0;
		position: relative;
	}

	&__subtitle {

		h3 {
			font-size: 1.625rem;
			line-height: $line-height-h3;
			font-weight: 400;
			margin-bottom: 0.25em;
		}

		+ .elementor-widget-html .Button {
			margin-top: 1.5em;
		}
	}
}
