/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Pricing__table {

	&--header[class] {
		margin-top: 3em;

		.elementor-price-list {
			font-family: $font-secondary;
			border: 1px solid $light-gray;
			border-bottom: none;
			border-radius: $border-radius-16 $border-radius-16 0 0;

			&-description {
				display: none;
			}

			&-item {
				padding: 1.75em 2.625em;
			}

			&-title,
			&-price {
				font-family: $font-primary;
				font-size: 1.25rem;
				font-weight: 700;
			}

			&-price {
				padding-left: 1.5em;
				height: calc(100% + 2.8em);

				&::before {
					display: none;
				}
			}

			@media (min-width: $breakpoint-tablet) {

				&-price {
					top: -1.4em;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&-price {
					padding-left: 2.1em;
				}
			}
		}
	}

	&--SectionHeader[class] {

		.elementor-price-list {
			font-weight: 600;
			color: $primary;
			background-color: $primary-lighter;
			border-bottom: none;
			border-radius: 0;
			padding: 0;

			&-item {
				padding: 0.25em 1.5em;
			}

			&-price::before {
				display: none;
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&-item {
					padding: 0.25em 2.625em;
				}
			}
		}
	}

	.elementor-widget-price-list {

		.elementor-price-list-price {

			span.has-note {
				color: $level-2;
				margin-top: 0.5em;
				margin-left: 0.5em;
				font-size: 0.75rem;
			}
		}

		&:last-of-type {

			.elementor-price-list {

				border-radius: 0 0 $border-radius-16 $border-radius-16;
			}
		}
	}


	.elementor-price-list {
		font-family: $font-secondary;
		border: 1px solid $light-gray;

		&-item {
			margin: 0 !important;
			padding: 0.75em 1.5em;

			&:nth-of-type(even) {
				background-color: rgba($primary-lighter, 0.25);
			}
		}

		&-text {
			position: relative;
		}

		&-title,
		&-description {
			width: 66.66%;
		}

		&-price {
			position: absolute;
			right: 0;
			padding-left: 1.5em;
			width: 33.33%;
			height: calc(100% + 1.5em);
			border-left: 1px solid $light-gray;

			&::before {
				position: relative;
				content: "$";
				font-size: 0.65em;
				top: -0.35em;
			}
		}

		&-description {
			font-size: 0.875rem;
			color: $level-3;
		}

		@media (min-width: $breakpoint-tablet) {

			&-price {
				display: flex;
				align-items: center;
				top: -0.75em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&-item {
				padding: 0.75em 2.625em;
			}

			&-price {
				padding-left: 2.625em;
			}
		}
	}
}
