/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Pricing__table {
	margin-top: 2em;

	>.elementor-container {
		display: block;

		>.elementor-column {
			width: 100%;
		}
	}

	&--title {
		margin-bottom: 0;
	}

	&--header {
		position: sticky;
		top: $headerHeight;
		background-color: $white;
		z-index: 20;

		> .elementor-container {
			display: flex;
		}

		&.is-sticky {

			&::after {
				position: absolute;
				left: 50%;
				bottom: 0;
				content: "";
				width: 100vw;
				box-shadow: 0 3px 3px rgba($black, 0.12);
				height: 1px;
				transform: translateX(-50%);
			}

			.Pricing__table--program[class] {

				.elementor-widget-image {
					max-height: 0;
					opacity: 0;
				}
			}
		}

		.Pricing__table--program[class] {
			padding: 1em 1em 1.5em 1em;
			margin-bottom: 0;

			.elementor-widget-text-editor {
				font-size: 0.875rem;
				line-height: 1.15;
				margin-bottom: 1em;
			}

			.elementor-button-link {
				text-decoration: none;
			}

			&:not(.fake) {
				border: 1px solid $light-gray;
				border-bottom: none;
				border-radius: 0;
			}

			&.first {
				border-top-left-radius: $border-radius-16;
			}

			&.last {
				border-top-right-radius: $border-radius-16;
			}

			+.Pricing__table--program[class]:not(.first) {
				border-left: none;
			}

			.elementor-widget-image {
				opacity: 1;
				height: 2.5rem;
				max-height: 2.5rem;
				transition: 0.5s all ease-out;
				overflow: hidden;

				* {
					height: 100%;
				}

				img,
				picture {
					width: auto;
					height: 2.5rem;
				}
			}

			@media (max-width: ($breakpoint-tablet - 1px)) {

				.elementor-widget-text-editor {
					display: none;
				}
			}

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

				width: 25%;

				.Button {
					display: none;
				}

				&.fake {
					display: none;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&:first-of-type {
					width: 30%;
				}

				&:not(:first-of-type) {
					width: 17.5%;
				}
			}
		}
	}


	table {
		margin-top: 0 !important;
		border-top-right-radius: 0 !important;

		td {
			padding: 0.75em !important;

			&:not(:first-of-type) {
				text-align: center;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			td {

				&:first-of-type:not([colspan]) {
					width: 30%;
				}

				&:not(:first-of-type):not([colspan]) {
					width: 17.5%;
				}
			}
		}
	}

	.icon-check {
		fill: $secondary !important;
	}


	&--header[class] {

		.elementor-price-list {
			border: 1px solid $light-gray;
			border-bottom: none;
			border-radius: $border-radius-16 $border-radius-16 0 0;

			&-description {
				display: none;
			}

			&-item {
				padding: 1.75em 2.625em;
			}

			&-title,
			&-price {
				font-size: 1.25rem;
				font-weight: 700;
			}

			&-price {
				display: flex;
				align-items: center;
				padding-left: 1.5em;
				height: calc(100% + 2.8em);
				width: 31.25%;
				top: -1.4em;

				&::before {
					display: none;
				}
			}

			@media (min-width: $breakpoint-tablet) {

				&-price {

					width: 32.5%;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&-price {
					padding-left: 2.1em;
					width: 33.33%;
				}
			}
		}
	}

	&--SectionHeader[class] {

		.elementor-price-list {
			font-weight: 600;
			color: $primary;
			background-color: $primary-lighter;
			border-bottom: none;
			border-radius: 0;
			padding: 0;
			margin-bottom: 0;

			&-item {
				padding: 0.25em 1.5em;
			}

			&-price::before {
				display: none;
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&-item {
					padding: 0.25em 2.625em;
				}
			}
		}
	}

	.elementor-widget-price-list {

		.elementor-price-list-price {
			margin-bottom: 0;

			span.has-note {
				color: $level-2;
				margin-top: 0.5em;
				margin-left: 0.5em;
				font-size: 0.75rem;
			}
		}

		&:last-of-type {

			.elementor-price-list {

				border-radius: 0 0 $border-radius-16 $border-radius-16;
			}
		}
	}


	.elementor-price-list {
		margin-bottom: 0;
		border: 1px solid $light-gray;

		&-item {
			margin: 0 !important;
			padding: 0.75em 1.5em;

			&:nth-of-type(even) {
				background-color: rgba($primary-lighter, 0.25);
			}
		}

		&-text {
			position: relative;
		}

		&-title,
		&-description {
			width: 66.66%;
		}

		&-price {
			position: absolute;
			right: 0;
			padding-left: 1.5em;
			width: 33.33%;
			height: calc(100% + 2.5em);
			border-left: 1px solid $light-gray;

			&::before {
				position: relative;
				content: "$";
				font-size: 0.65em;
				top: -0.35em;
			}
		}

		&-description {
			font-size: 0.875rem;
			color: $level-3;
		}

		@media (min-width: $breakpoint-tablet) {

			&-price {
				display: flex;
				align-items: center;
				top: -0.75em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&-item {
				padding: 0.75em 2.625em;
			}

			&-price {
				padding-left: 2.625em;
			}
		}
	}
}
