/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "sass:map";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Block__background {
	background: linear-gradient(264.86deg, rgba(255, 171, 35, 0.5), rgba(253, 203, 110, 0.5));
	max-width: $wrapper-wide;

	&.wrapper[class] {
		padding: 1.25em;

		@media (min-width: $breakpoint-desktop) {
			padding: 1.5em 7.5em;
		}
	}

	&.Block__image {
		max-width: $wrapper-wide;
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.elementor {

			&-column {
				width: 50%;
				max-width: 31.25em;

				&:has(picture, img):not(:has(.elementor-heading-title)) {
					width: 50%;
					max-width: 33.125em;
				}
			}
		}
	}

	.tag {

		p {

			background-color: transparent;
			color: $black;
			padding: 0;
			margin: 0;
		}
	}

	.elementor-widget-text-editor:not(.tag) {
		margin-top: 1em;

		p {
			margin-bottom: 1.5em;
		}
	}

	&--gray {
		background: $lightest-gray;
		max-width: $wrapper-width;

		&.wrapper[class] {
			padding: 1.25em;

			@media (min-width: $breakpoint-desktop) {
				padding: 4.5em 7.5em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			> .elementor-container {
				justify-content: space-between;
			}

			.elementor-col-50 {
				width: calc(50% - 1em);
			}
		}

		.elementor-widget-text-editor:not(.tag) {
			margin-top: 1em;

			p {
				margin-bottom: 1.5em;

				br {
					display: none;
				}
			}
		}

		$elementPos: (
			"top-left": "left top",
			"top-right": "right top",
			"bottom-left": "left bottom",
			"bottom-right": "right bottom"
		);

		&.element-bottom-right {

			&::before {

				@include posZero;
				display: block;
				content: "";
				position: absolute;

				background: url(../../images/bg_element_bottom-right.png?ver=#{$version}) right bottom no-repeat;
				background-size: 16.5em;
			}
		}
	}
}
