/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Block__meet {
	max-width: $breakpoint-desktop-box;
	margin: 3em auto;
	text-align: center;

	&--top {
		position: relative;
		padding: 3em 0;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";
			border-radius: 1rem;
			background-color: $lightest-gray;
			background-image: url(../../images/meet_plugin_rect_left.png?ver=#{$version}), url(../../images/meet_plugin_rect_right.png?ver=#{$version});
			background-position: left top, right 25%;
			background-repeat: no-repeat;
			background-size: 15em, 2em;
			width: 100%;
			height: 100%;
		}

		.elementor-widget {

			&-text-editor {
				margin-top: 1em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 3em 27% 0;

			&::before {
				height: 0;
				padding-bottom: 30%;
			}
		}
	}

	[class*="Modules"] {

		.elementor-column {
			position: relative;
			transition: transform 0.2s;

			*[class] {
				position: static;
			}

			a {
				position: static;
				text-decoration: none;
				color: initial;

				&::before {

					@include posZero;
					content: "";
					position: absolute;
					cursor: pointer;
					z-index: 10;
				}
			}

			@media (hover: hover) {

				&:hover {
					transform: translateY(-5%);
				}
			}
		}
	}

	.Modules {

		&__imageOnly {
			margin-top: 4.5em;

			.elementor-column {
				border-radius: 1rem;
				background-color: $white;
			}

			&.has-border {

				.elementor-column {
					border: 2px solid $light-gray;
				}
			}

			&.has-shadow {

				.elementor-column {
					box-shadow: 0.625em 0.625em 0.8125em -0.625em rgba($black-real, 0.12);
				}
			}

			@media (min-width: $breakpoint-tablet) {

				.elementor-container {
					display: flex;
				}

				.elementor-column {
					margin-top: 0;
					width: calc(50% - 1em);

					&:first-of-type {
						margin-right: 1em;
					}

					&:last-of-type:not(:first-of-type) {
						margin-left: 1em;
					}
				}
			}
		}

		&__small {
			margin-top: 3em;

			.elementor-column {
				filter: none;
				border: 2px solid $light-gray;
				border-radius: 1rem;
				background-color: $white;
				overflow: hidden;
				margin-top: 1.5em;
				padding-bottom: 3em;
				box-shadow: 0.625em 0.625em 0.8125em -0.625em rgba($black-real, 0.12);

				.elementor-widget {

					&-image {
						position: relative;
						height: 0;
						padding-bottom: 54%;

						&::before {

							@include posCustom(0, -2.5em, 0, -2.5em);
							position: absolute;
							content: "";
							z-index: 1;
							box-shadow: inset 0 -1em 2.5em 0 rgba($black-real, 0.18);
						}

						img,
						picture {

							@include square(100%);
							object-fit: cover;
							object-position: center top;
						}
					}

					.elementor-heading-title {
						font-size: 1.5rem;
						margin-top: 1em;
						padding: 0 1.5em;
					}

					&-text-editor {
						padding: 1.5em 1.5em 0;
					}
				}
			}

			@media (min-width: $breakpoint-tablet) {

				.elementor-container {
					display: flex;
				}

				.elementor-column {
					margin-top: 0;
					width: calc(50% - 1em);

					&:first-of-type {
						margin-right: 1em;
					}

					&:last-of-type:not(:first-of-type) {
						margin-left: 1em;
					}
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				.elementor-column {

					.elementor-widget {

						.elementor-heading-title {
							font-size: 2rem;
							margin-top: 1em;
							padding: 0 1.5em;
						}

						&-text-editor {
							padding: 1.5em 2.5em 0;
						}
					}
				}
			}
		}
	}

}
