/* stylelint-disable */
@use "sass:map";
@use "sass:math";
@use "variables" as *;

@mixin responsiveRatio($ratio: 100, $width: 100%) {
	height: 0;
	width: $width;
	padding-bottom: $ratio * $width;
}

//Function to convert Px to Ems, for example: width: em(24px);

@function em($target, $context: $font-size-default, $unit: 'em') {

	@if $target ==0 {

		@return 0;
	}

	$result: math.div(strip-unit($target), strip-unit($context));

	@return decimal-round($result, 3)+unquote($unit);
}

@mixin appearance($appearance: none) {
	-webkit-appearance: $appearance;
	-moz-appearance: $appearance;
	-ms-appearance: $appearance;
	-o-appearance: $appearance;
	appearance: $appearance;
}

@mixin clear {

	&::after,
	&::before {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}

	& {
		*zoom: 1;
	}
}

@mixin vCenter($height, $line-height: $height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin fullSize() {
	width: 100%;
	height: 100%;
}

@mixin square($size: 1.5em, $important: "") {
	width: $size #{$important};
	height: $size #{$important};
}

//Mixin for Placeholder input attribute, like input type="search" HTML5 element

@mixin input-placeholder {

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder,
	&::-ms-input-placeholder {
		@content;
	}

	&::-webkit-input-placeholder {
		@content;
	}

	&::placeholder {
		@content;
	}
}

@mixin circle($size: 100%, $background-color: transparent, $border: none) {
	width: $size;
	height: $size;
	border-radius: 50%;
	border: $border;
	background-color: $background-color;
}

@mixin triangle($size, $color, $direction) {
	height: 0;
	width: 0;
	border-color: transparent;
	border-style: solid;
	border-width: math.div($size, 2);

	@if $direction == up {
		border-bottom-color: $color;
	}

	@else if $direction == right {
		border-left-color: $color;
	}

	@else if $direction == down {
		border-top-color: $color;
	}

	@else if $direction == left {
		border-right-color: $color;
	}
}

//Adds text stroke

@mixin textStroke($width, $color) {
	$width: $width + 0;
	$shadow: 0 0 0 transparent;
	$i: 0;
	$w: 1;

	@while ($i < $width) {
		$i: $i + 1;
		$j: 0;
		$w: $w + 2;

		@for $r from 1 through $w {

			@for $c from 1 through $w {
				$x: $c - ceil($w / 2);
				$y: $r - ceil($w / 2);

				$shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
			}
		}
	}

	text-shadow: $shadow;
}

//Turn on font smoothing in Webkite
// so text wouldnt blink during CSS3 transitions

@mixin ff() {
	-webkit-font-smoothing: -subpixel-antialiased;
}

//Mixin for Font-face generation, just use:
//@include font(MyriadPro-Bold,MyriadPro-Bold,bold);

@mixin font($family, $font-weight: normal, $font-style: normal, $filename: $family) {

	@font-face {
		font-family: quote($family);
		src:
			url("../webfonts/#{$family}.woff2") format("woff2"),
			url("../webfonts/#{$family}.woff") format("woff"),
			url("../webfonts/#{$family}.ttf") format("truetype");
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: swap;
	}
}

///Absolutely centers blocks or elements to center of page

@mixin absoluteCenter() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

///Complete left to right, top to bottom
///stretching of absolutely positioned element

@mixin posZero() {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

//Custom position of absolutely positioned element,
//if only 1 variable set, all others are set the same

@mixin posCustom($top: 0, $right: $top, $bottom: $top, $left: $top) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

// learn more link with arrow

@mixin learn-more () {
	display: inline-block !important;
	font-size: 1em;
	font-weight: $font-weight-semi;
	text-decoration: none;

	svg {
		@include square(1.25em);
		position: relative;
		display: inline-block !important;
		margin-left: 0.5em;
		transform: translate(0, 0);
		transition: transform 0.5s ease-in-out !important
	}

	@include hover {
		cursor: pointer;
		text-decoration: none !important;

		svg {
			transform: translate(30%, 0);
		}
	}
}

@mixin scrollbar($width:6px) {
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: $light-gray;
		border-radius: .625em;
		height: 5em;
	}
	
	&::-webkit-scrollbar {
		width: $width;
	}

	scrollbar-width: $width;
	scrollbar-color: $light-gray transparent;
}

// hover mixin

@mixin hover {

	&:active,
	&:focus {
		@content;
	}

	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

/* stylelint-enable */
