// Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

// Font Sizes
$base-font-size: 16px;

$font-size-default: 16px;
$line-height-default: 24px;
$font-size-smaller: 14px;
$line-height-smaller: 24px;
$font-size-bigger: 18px;
$line-height-bigger: 26px;

$font-size-h1: 48px;
$line-height-h1: 64px;
$font-size-h2: 32px;
$line-height-h2: 48px;
$font-size-h3: 18px;
$line-height-h3: 24px;
$font-size-h4: 18px;
$line-height-h4: 24px;
$font-size-h5: 16px;
$line-height-h5: 24px;
$font-size-h6: 16px;
$line-height-h6: 24px;

$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;


// Sizes
$breakpoint-desktop: 1180px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$mobile-divider: 1.25;

$wrapper-width: 1180px;
$wrapper-padding: 20px;

$default-element-margin: 15px;

// Colors
$black: #000;
$white: #fff;
$gray: #231f20;
$dark-gray: #65676b;
$light-gray: #e4e5e9;
