$version: "2.0";
$transitionTime: 0.25s;

$headerHeight: 90px;

$sizes: (
	"xxs": 0.15em,
	"xs": 0.25em,
	"s": 0.5em,
	"m": 1em,
	"l": 1.5em,
	"xl": 2em,
	"xxl": 2.5em,
	"xxxl": 3.25em,
	"extreme": 4.5em,
	"ultra": 6em
);

$fontSizes: (
	"xxs": 0.5rem,
	"xs": 0.625rem,
	"s": 0.75rem,
	"xm": 0.8125rem,
	"m": 0.875rem,
	"normal": 1rem,
	"l": 1.5rem,
	"xl": 2rem,
	"xxl": 2.5rem,
	"xxxl": 3.25rem,
);

// Fonts
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif; // stylelint-disable-line

// Font Sizes
$font-size-default: 1rem;
$line-height-default: 1.625;
$font-size-smaller: 0.875rem;
$line-height-smaller: 1.714;
$font-size-small: 0.75rem;
$font-size-bigger: 1.125rem;
$line-height-bigger: 1.44;


$font-size-h1: 3.25rem;
$line-height-h1: 1.33;
$font-size-h2: 2.5rem;
$line-height-h2: 1.15;
$font-size-h2-s: 1.5rem;
$font-size-h2-xs: 2rem;
$font-size-h2-l: 2.25rem;
$font-size-h2-xl: 2.75rem;
$font-size-h3: 1.125rem;
$line-height-h3: 1.33;
$font-size-h4: 1.125rem;
$line-height-h4: 1.33;
$font-size-h5: 1rem;
$line-height-h5: 1.5;
$font-size-h6: 1rem;
$line-height-h6: 1.5;

$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

$main-nav-font-size: 1rem;
$main-nav-line-height: 3.75;
$main-nav-submenu-font-size: 0.875;
$main-nav-submenu-line-height: 2.14;

// Sizes
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop-big: 1600px;
$breakpoint-desktop-box: 1380px;
$breakpoint-ipad-pro: 1360px;
$breakpoint-desktop: 1180px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 480px;
$breakpoint-iphone-new: 415px;
$breakpoint-iphone-old: 376px;

$wrapper-width: 1140px;
$wrapper-wide: 1380px;
$wrapper-padding: 1.125em;

$default-element-margin: 1rem;

$border-radius-small: 4px;
$border-radius-6: 6px;
$border-radius: 8px;
$border-radius-10: 10px;
$border-radius-14: 14px;
$border-radius-16: 16px;
$border-radius-30: 30px;

$button-font-size-normal: 0.875rem;
$button-height-normal: 3.43em;
$button-padding-normal: 2.1em;

$input-font-size-normal: 1rem;
$input-height-normal: 3.75rem;
$input-padding-normal: 1.25rem;
$input-border-width-normal: 1px;

$header-height: 90px;

$block-space: 9.5em;
$block-space-sm: 5em;
$block-bg-space: 5em;
$block-bg-space-sm: 2.5em;

// Colors
$black-real: #000;
$white: #fff;

$level-1: #050505;
$black: $level-1;
$level-2: #65676b; //$dark-gray
$level-3: #8c9097; //$medium-gray-quotes
$level-4: #b0b4bb; //$medium-gray

$gray-icons: #bec2c9; // $light-gray-icon
$gray-fields: #ced0d4; // $medium-gray-inputs
$gray-hover: #d8dadf; // $lighter-gray

$light-gray: #e4e5e9; // $light-gray
$light-grayBg: #edeff3; // $light-grayBg
$lightest-gray: #f5f5f7; // $lightest-gray

$gray: #231f20;
$primary: #2570ed;
$primary-dark: #0f55c9;
$primary-lighter: #dfeafd;
$primary-light: #efeeff;
$primary-checklist: #cfe8fe;
$secondary: #ff3c29;
$secondary-dark: #ff1500;
$secondary-light: #ffefec;
$light-green: #3cc33e;
$light-blue: #1089f8;
$green: #07b65d;
$red: #ff492b;
$light-red: #fee3dc;
$yellow: #ff0;
$tag: #ffb928;
$tablebg: #f8faff;

$saturated-violet: #9154ce;
$desaturated-violet: #f3e6ff;
$saturated-blue: #2570ed;
$desaturated-blue: #dfeafd;
$saturated-green: #07b65d;
$desaturated-green: #daf4e7;
$saturated-red: #ff492b;
$desaturated-red: #ffe4df;
$saturated-cyan: #48c6ce;
$desaturated-cyan: #e4f7f8;
$saturated-orange: #fec200;
$desaturated-orange: #fff5df;


$saturated-blueish-menu: #2570ed;
$desaturated-blueish-menu: rgba(37, 112, 237, 16%);
$saturated-red-menu: #fe4938;
$desaturated-red-menu: rgba(254, 73, 56, 0.16);
$saturated-green-menu: #58d1d1;
$desaturated-green-menu: rgba(88, 209, 209, 0.16);
$saturated-magenta-menu: #db6bd7;
$desaturated-magenta-menu: rgba(219, 107, 215, 0.16);
$saturated-orange-menu: #ff9133;
$desaturated-orange-menu: rgba(255, 145, 51, 0.16);


$box-shadow-small: drop-shadow(0 1px 6px rgba($black-real, 0.16));
$box-shadow: drop-shadow(0 0 16px rgba($black-real, 0.08));
$box-shadow-big: drop-shadow(0.25em 0.5em 1.875em rgba($black-real, 0.1));
