/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/no-global-function-names */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../components/PricingTable";

.Pricing {
	padding: 3.2em 0;
	margin: 1.5em auto;
	max-width: $breakpoint-desktop-box;
	background-color: $lightest-gray;
	border-radius: $border-radius-16;

	.wrapper {

		@media (min-width: $breakpoint-desktop) {
			padding: 0;
		}
	}

	&__title .elementor-heading-title {
		font-size: $font-size-h2;
		text-align: center;

		@media (max-width: $breakpoint-tablet) {
			font-size: $font-size-h2-s;
		}
	}

	&__subtitle {
		max-width: 80ch;
		margin: 0 auto;
		text-align: center;

		.elementor-heading-title {
			font-size: 1rem;
		}
	}

	&__tags {
		margin-top: 1.5em;

		ul {
			display: flex;
			flex-flow: wrap row;
			justify-content: center;

			li {
				background-color: $light-gray;
				margin: 0 1em 1em 0;
				padding: 0.5em 1em !important;
				border-radius: 1em;
				font-size: 0.75rem;
				line-height: 1.42;
				text-align: center;

				&::before {
					display: none !important;
				}
			}
		}

	}

	&__programs {
		margin: 2em 0 1.5em;

		.elementor-container {

			@media (min-width: $breakpoint-tablet) {
				display: grid;
				grid-template-columns: repeat(2, auto);
				grid-gap: 2em;
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				grid-template-columns: repeat(4, auto);
			}
		}
	}

	&__program {
		position: relative;
		background-color: $white;
		border-radius: $border-radius-16;
		padding: 1.5em;
		outline: 1px solid $light-gray;

		@media (min-width: $breakpoint-tablet) {
			width: 100% !important;
		}

		> .elementor-widget-wrap {
			display: flex;
			flex-direction: column;
		}

		&:nth-child(1) {

			.price {
				color: $black;
			}
		}

		&:nth-child(2) {
			border: 2px solid $primary;
			z-index: 2;

			.elementor-button-link {
				color: $white;
				background-color: $primary;
				border-color: $primary;
			}
		}

		.premiumSupport {
			position: relative;
			display: inline-flex;
			align-items: center;
			background-color: $light-grayBg;
			border-radius: 1em 0.5em 0.5em 1em;
			padding: 0.25em 1em;
			margin-left: auto;
			right: -1.75em;

			svg {

				@include square(1em);
				fill: url(#star-gradient);
				margin-left: 0.5em;
				margin-right: 0.5em;
			}

			p {
				font-weight: 600;
				letter-spacing: 0.05em;
				background: linear-gradient(117deg, $primary 0%, rgba(#db6bd7, 0.75)  100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				backdrop-filter: blur(6px);
			}
		}

		.elementor-widget-image {

			img {
				width: auto;
				height: 3.5em;
			}
		}

		.popular {
			position: absolute;
			top: -1em;
			left: 0.5em;
			font-size: 0.75rem;
			font-weight: 500;
			padding: 1.5em 0.75em;
			text-align: center;
			border-radius: 1.25em;
			transform: translate(-25%, 25%) rotate(-45deg);

			div {
				position: relative;
				z-index: 1;
			}

			&::before {

				@include posZero;
				top: -0.25em;
				position: absolute;
				content: "";
				background-color: $saturated-orange;
				transform: perspective(100px) rotateX(65deg);
				border-radius: 0.75em 0.75em 0 0;
			}
		}

		.elementor-widget-heading + .elementor-widget-text-editor {
			padding-right: 30%;
		}

		.elementor-heading-title {
			font-size: 1.875rem;
			margin: 0 0 0.35em;
		}

		.elementor-button-link {
			display: block;
			text-align: center;
			padding: 1em 1.5em;
			margin: 1.25em 0 1.5em;
			border-radius: $border-radius-6;
			border: 1px solid $black;
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 1;
			color: $black;
		}

		.price {
			font-family: $font-secondary;
			line-height: 1.25;
			color: $red;

			&__old {
				display: inline-block;
				color: $black;
				font-family: $font-primary;
				font-size: 1.85rem;
				text-decoration: line-through;
				margin-right: 0.5em;
			}

			sup {
				position: relative;
				font-size: 1rem;
				vertical-align: top;
				top: 0.5em;
			}

			strong {
				font-family: $font-primary;
				font-size: $font-size-h2;
			}
		}

		.credits {
			margin-top: 0.75em;

			strong {
				display: inline-block;
				background-color: $light-gray;
				border-radius: 1em;
				padding: 0 0.5em;
			}
		}
	}
}

.Recharge {
	position: relative;
	padding: 2em;
	margin-bottom: 1.5em;
	background: linear-gradient(129.76deg, rgba(93, 137, 226, 0.41) -8.52%, rgba(219, 107, 215, 0.41));
	box-shadow: inset -0.70224px 0.70224px 0.84435px rgba(255, 255, 255, 0.55);
	border-radius: $border-radius-16;

	.elementor-container {
		align-items: center;
	}

	.elementor-column {

		&:first-child {

			.elementor-heading-title {
				font-size: 1.875rem;
			}
		}

		&:last-child {

			.elementor-widget-image {
				display: inline-block;
				position: relative;
				top: -0.15em;

				img {
					width: auto;
					height: 1.375em;
				}
			}

			.elementor-widget-heading {
				display: inline-block;

				.elementor-heading-title {
					font-weight: 600;
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&:last-child {
				text-align: right;
				margin-left: auto;
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {
		overflow: hidden;

		&::after {
			position: absolute;
			right: -5%;
			top: 0;
			content: "";
			width: 40%;
			height: 100%;
			// padding-bottom: 194%;
			background: linear-gradient(to bottom, rgba($white, 0.7) 16.9%, rgba($white, 0) 86.96%);
			opacity: 0.15;
			transform: skewX(-65deg);
		}
	}
}
