/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable scss/at-extend-no-missing-placeholder */
/* stylelint-disable value-keyword-case */

@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/CategoryTag" as *;

.Archive__columns {
	display: flex;
	flex-wrap: wrap;

	.full {
		width: 100%;
	}

	.col {
		margin-bottom: 1.5em;
		opacity: 1;
		transition: opacity 0.2s;

		&.inactive {
			opacity: 0;
		}
	}

	&--loading {
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 1em;

		span {
			$animationTime: 1.5s;

			display: inline-block;
			font-size: 1.5em;
			margin-left: 0.05em;
			animation: chatDots 1.5s linear infinite;

			&:nth-child(2) {
				animation-delay: math.div($animationTime, 6);
			}

			&:nth-child(3) {
				animation-delay: math.div($animationTime, 3);
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {

		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-column-gap: 1.875rem;
		grid-row-gap: 1.875rem;

		.full {
			grid-column: 1/3;
		}
	}


	@media (min-width: $breakpoint-tablet-landscape) {
		grid-template-columns: repeat(3, 33.33%);
		grid-row-gap: 3.125em;

		.full {
			grid-column: 1/4;
		}
	}
}
