/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../elements/Logo";
@forward "../elements/Header/HeaderNavigationMain";
@forward "../elements/Header/HeaderNavigationSubMenu";
@forward "../elements/Header/HeaderNavigationSubItemsColors";
@forward "../components/Login";


// Overlay for mobile menu
html.mobile-menu-opened {
	overflow: hidden;

	.Header {

		&__mobile__menu__overlay {
			background: #717c86;
			content: "";
			height: 100%;
			left: 0;
			opacity: 0.3;
			position: fixed;
			top: $headerHeight;
			transition: all 0.25s linear;
			visibility: visible;
			width: 100%;
			z-index: -1;
			overflow-y: hidden;
			display: block;
		}
	}
}

#app {
	padding-top: $headerHeight;

	.Header {
		position: fixed;
		top: 0;
		z-index: 99991;
		width: 100%;
		height: $headerHeight;
		background-color: $white;

		&.noMenu {
			background-color: transparent;
		}

		.wrapper {
			display: flex;
			align-items: center;
			padding-right: 1.25em;
			padding-left: 0.625em;
			height: 100%;
			border-radius: 0;
			background-color: $white;
		}

		&__items {
			display: flex;
			align-items: center;
			margin-left: auto;

			.hamburger {

				.line {
					width: 1.75em;
					height: 0.1875em;
					background-color: $black;
					display: block;
					margin: 0.25em auto;
					-webkit-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}

				&.open {

					.line {

						&:nth-child(2) {
							opacity: 0;
						}

						&:nth-child(1) {
							transform: translateY(6px) rotate(45deg);
						}

						&:nth-child(3) {
							transform: translateY(-8px) rotate(-45deg);
						}
					}
				}

			}

		}

		&__mobile__menu__overlay {
			display: none;
		}

		.LoginOrSignup {
			font-size: 0.875rem;

			.Button {
				margin-left: 1em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			.wrapper {
				padding: 0 !important;
			}

			.signup &.noMenu {
				background-color: transparent;
			}

			&__items {
				width: 100%;
				margin-left: 0;

				.hamburger {
					display: none;
				}
			}
		}
	}
}

